---
import { SITE } from '../consts';
---

<!doctype html>
<html lang={SITE.locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{SITE.title}</title>
    <meta name="description" content={SITE.description} />
  </head>
  <body>
    <main>
      <h1>{SITE.title}</h1>
      <p>{SITE.description}</p>
    </main>
  </body>
</html>
